<!DOCTYPE html>
<html lang="pt-br">

<head>

    <!-- DEFINIÇÃO DOS PARAMETROS DO INDEX -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="content-language" content="pt-br" />
    <meta name="robots" content="index, follow" />

    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
    <![endif]-->

    <!-- LINKANDO OS DOCUMENTOS CSS COM O HTML PARA FORMATÁ-LO -->
    <link rel="stylesheet" type="text/css" href="css/boot.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="css/fonts-icones.css">
    <link rel="shortcut icon" href="Fotos/LogoDamasModas.png" type="image/ico" />

    <title>DamasModas</title>

</head>

<body>

    <!-- CRIÇÃO E CONFIGURAÇÃO DO SBOTÕES DE NAVEGAÇÃO DENTRO DO SITE -->
    <header class="main_header container">

        <div class="content">

            <div class="main_header_logo">
                <a href="index.html" title="DamasModas"><img src="Fotos/LogoDamasModas.png" alt="DamasModas"
                        title="DamasModas" /></a>
            </div>

            <div class="icon icon-menu mobile_action"></div>

            <ul class="main_header_nav" id="top">

                <li class="main_header_nav_item"><a href="#inicio" class="scrollSuave menuAtivo" title="Início"> Início</a></li>
                <li class="main_header_nav_item"><a href="#modalidades" class="scrollSuave" title="Navegar por classe"> Produtos</a></li>
                <li class="main_header_nav_item"><a href="#galeria" class="scrollSuave" title="Produtos"> Nossos Produtos</a></li>
                <li class="main_header_nav_item"><a href="#contato" class="scrollSuave" title="Contato"> Contato</a></li>
                <li class="main_header_nav_item"><a href="cadastro.html" class="scrollSuave" title="Cadastro"> Cadastre-se</a></li>
                <li class="main_header_nav_item"><a href="login.html" class="scrollSuave" title="Login"> Entrar</a></li>

            </ul>

            <div class="clear"></div>

        </div>

    </header>


    <main class="main_content container">

        <!-- CRIAÇÃO E DEFINIÇÃO DO BANNER DE EXIBIÇÃO -->
        <section id="inicio" class="section-chamada container">

            <div class="content">

                <article class="topoPag">
                    <div class="mascara">

                        <div class="centraliza">
                            <h1></h1>
                            <h1></h1>
                            <h1></h1>
                            <h1 class="branco" align="right">
                                <font color="white">Vista-se de confiança</font>
                            </h1>
                            <p class="branco" align="right">
                                <font color="white">Encontre sua peça perfeita aqui na damasmodas</b></font>
                            </p>
                        </div>

                        <img src="Fotos/banner.png" alt="BannerDamas" title="DamasModas" />

                    </div>
                </article>

                <div class="clear"></div>
            </div>

        </section><!--Fecha Section Chamada-->

        <!-- CRIAÇÃO E DEFINIÇÃO DE ITENS EM EXIBIÇÃO NA PÁGINA INICIAL DO SITE -->
        <section id="modalidades" class="section-modalidades container">

            <div class="content">

                <h1 class="title center verde"></h1>

                <article class="artigos-modalidades">

                    <div class="capa">

                        <img src="Fotos/NO6B2C_1.png" alt="Conjunto_Preto_Slim"
                            title="Conjunto tomara que caia preto slim" />

                    </div><!--capa-->

                    <div class="desc">
                        <h2><a href="#" title="Conjunto_Preto_Slim">Conjunto tomara que caia preto slim</a></h2>
                        <p></p>
                    </div><!--desc-->

                </article><!--1-->

                <article class="artigos-modalidades">

                    <div class="capa">

                        <img src="Fotos/NO8D89_1.png" alt="Vestito_Moletom" title="Vestido de moletom manga comprida" />

                    </div><!--capa-->

                    <div class="desc">
                        <h2><a href="#" title="Vestito_Moletom">Vestido de moletom manga comprida</a></h2>
                        <p></p>
                    </div><!--desc-->

                </article><!--2-->

                <article class="artigos-modalidades">

                    <div class="capa">

                        <img src="Fotos\NO1058_1.png" alt="Vestido_Xadrez" title="Vestido Xadrez sem Manga" />

                    </div><!--capa-->

                    <div class="desc">
                        <h2><a href="#" title="Vestido_Xadrez">Vestido Xadrez sem Manga</a></h2>
                        <p></p>
                    </div><!--desc-->

                </article><!--3-->

                <article class="artigos-modalidades">

                    <div class="capa">

                        <img src="Fotos\NO416D_1.png" alt="Vestido_Plus_Azul" title="Vestido Plus Size Azul" />

                    </div><!--capa-->

                    <div class="desc">
                        <h2><a href="#" title="Vestido_Plus_Azul">Vestido Plus Size Azul</a></h2>
                        <p></p>
                    </div><!--desc-->


                <div class="clear"></div>
                </article>
            </div>

        </section><!--Fecha Section Treinos-->

        <!-- CONFIGURAÇÃO DE FOTOS PARA EXIBIÇÃO EM FORMATO DE GALERIA -->
        <section id="galeria" class="section-galeria container">

            <div class="content">

                <h2 class="title center branco">Nossos Produtos</h2>

                <div class="galeria-academia">

                    <article class="foto">

                        <div class="mascara"></div>
                        <a href="uploads/galeria/1.png" title="veja" class="image-link"> <i
                                class="icon icon-search"></i> </a>
                        <img src="uploads/galeria/1.png">

                    </article>

                    <article class="foto">

                        <div class="mascara"></div>
                        <a href="uploads/galeria/2.png" title="veja" class="image-link"> <i
                                class="icon icon-search"></i> </a>
                        <img src="uploads/galeria/2.png">

                    </article>

                    <article class="foto">

                        <div class="mascara"></div>
                        <a href="uploads/galeria/3.png" title="veja" class="image-link"> <i
                                class="icon icon-search"></i> </a>
                        <img src="uploads/galeria/3.png">

                    </article>

                    <article class="foto">

                        <div class="mascara"></div>
                        <a href="uploads/galeria/4.png" title="veja" class="image-link"> <i
                                class="icon icon-search"></i> </a>
                        <img src="uploads/galeria/4.png">

                    </article>

                    <article class="foto">

                        <div class="mascara"></div>
                        <a href="uploads/galeria/5.png" title="veja" class="image-link"> <i
                                class="icon icon-search"></i> </a>
                        <img src="uploads/galeria/5.png">

                    </article>

                    <article class="foto">

                        <div class="mascara"></div>
                        <a href="uploads/galeria/6.png" title="veja" class="image-link"> <i
                                class="icon icon-search"></i> </a>
                        <img src="uploads/galeria/6.png">

                    </article>

                    <article class="foto">

                        <div class="mascara"></div>
                        <a href="uploads/galeria/7.png" title="veja" class="image-link"> <i
                                class="icon icon-search"></i> </a>
                        <img src="uploads/galeria/7.png">

                    </article>

                    <article class="foto">

                        <div class="mascara"></div>
                        <a href="uploads/galeria/8.png" title="veja" class="image-link"> <i
                                class="icon icon-search"></i> </a>
                        <img src="uploads/galeria/8.png">

                    </article>


                </div><!--Galeria Barber-->


                <div class="clear"></div>
            </div>

        </section><!--Fecha Section Galeria-->

        <!-- CRIAÇÃO E FORMATAÇÃO DA ABA DE CONTATOS E COMENTÁRIOS -->
        <section id="contato" class="section-contato container">

            <div class="content">

                <h2 class="title center verde">Fale Conosco</h2>

                <div class="coluna">

                    <form method="post" action="#" class="formulario">

                        <label>

                            <input type="text" name="nome" class="campo" placeholder="Nome" required="" maxlength="60">

                        </label>

                        <label>

                            <input type="text" name="celular" class="campo" placeholder="Celular" required="" maxlength="11">

                        </label>

                        <label>

                            <input type="text" name="email" class="campo" placeholder="E-mail" required="" maxlength="50">

                        </label>
                        
                        <label>

                            <input type="text" name="assunto" class="campo" placeholder="Assunto" required="" maxlength="40">

                        </label>                                                

                        <label>

                            <textarea name="mensagem" class="campo" placeholder="Deixe sua mensagem" rows="4"
                                required=""></textarea>

                        </label>

                        <label>

                            <input type="hidden" name="acao" value="enviar">
                            <button class="btn-enviar" title="Enviar">Enviar</button>

                        </label>

                    </form>

                </div><!---Div Coluna-->

                <!-- CRIAÇÃO DE UM CAMPO ONDE SERÃO EXIBIDOS OS MEIOS DE CONTATO DIRETO -->
                <div class="coluna">

                    <div class="info">


                        <p><i class="icon icon-calendar"></i> Atendimento: Segunda a Sexta</p>
                        <p><i class="icon icon-phone"></i> 00 0000-0000</p>
                        <p><i class="icon icon-whatsapp"></i> 00 90000-0000</p>
                        <p><i class="icon icon-clock-2"></i> 9:00 ás 19:30</p>

                    </div>

                </div><!---Div Coluna-->

                <div class="clear"></div>
            </div>

        </section><!--Fecha Section Contato-->


    </main>

    <!-- CRIAÇÃO, FORMATAÇÃO E DEFINIÇÃO DE ITENS DE RODAPÉ -->
    <footer class="main_footer container">

        <div class="content">

            <div class="colfooter">

                <div class="titleFooter"> <span class="icon icon-world"></span> Menu</div>
                <ul>

                    <li><a href="#inicio" class="scrollSuave" title="Página Inícial">Página Inícial</a></li>
                    <li><a href="#modalidades" class="scrollSuave" title="Modalidades">Modalidades</a></li>
                    <li><a href="#galeria" class="scrollSuave" title="Galeria de Fotos">Galeria de Fotos</a></li>
                    <li><a href="#contato" class="scrollSuave" title="Contato">Contato</a></li>

                </ul>

            </div><!--Col Footer 1-->

            <div class="colfooter">

                <div class="titleFooter"> <span class="icon icon-share-outline"></span> Redes Sociais</div>
                <a href="#" class="redesocial" title="Instagram"><span> <i class="icon icon-instagram"></i>
                        /suacademia</span></a>

            </div><!--Col Footer 2-->

            <div class="colfooter">

                <div class="titleFooter"> <span class="icon icon-bubble-2"></span> Atendimentos</div>
                <p><i class="icon icon-mail"></i> contato@seusite.com.br</p>
                <p><i class="icon icon-phone"></i> 00 90000-0000</p>
                <p><i class="icon icon-whatsapp"></i> 00 90000-0000</p>

            </div><!--Col Footer 3-->

<!--Col Footer 4-->


            <div class="clear"></div>

        </div><!--Contant-->

    </footer>

    <script src="js/jquery.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>

</body>

</html>