.input{
margin: 15px 0 0 20px;
font-family:'Arial';
color: black;
border-width: 1px;
padding: 6px;
}

label{
margin: 1000px 0 0 0;
font-family:'Arial';
}

.botao{
margin: 35px 0 0 0;
text-align:center;
}

#enviar{
padding: 10px 25px;
background-color: #2BBDCE;
border: 0;
font-size: 20px;
}